[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MetabolSSMF"]
	path = MetabolSSMF
	url = https://github.com/wenxuanliu1996/metabolssmf
